@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap');
@import './variables.css';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: var(--pure);
    background: var(--primary);
    background: linear-gradient(135deg, rgba(0,0,0,1),rgba(0,0,0,0.2)), url(../assests/img/back.jpg); 
    background-size: cover;
    min-height: 100vh;
}

/***************************HEADER***************************/

header nav {
  padding: 20px 40px 20px 100px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  border-bottom: 1px solid var(--gray);
}

header nav .nav-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav .nav-right a {
  text-decoration: none;
  color: var(--pure);
  margin-right: 30px;
  position: relative;
}

header nav .nav-right a:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -30px;
  width: 0;
  height: 2px;
  background: var(--pure);
  transition: width .3s ease-in-out;
}

header nav .nav-right a:hover:after {
  width: 70%;
}

header nav .nav-right a.active:after {
  width: 70%;
}

header nav .nav-right .search > div {
  background: var(--dark);
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-radius: 50px;
}

header nav .nav-right .search > div input {
  background: transparent;
  border: none;
  outline:none;
  font-size: 16px;
  color: #fff;
}

header nav .nav-right .search > div img {
  padding-right: 16px;
}

.header nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.hamburger-menu {
  display: none; /* Esconder o menu de hambúrguer por padrão */
  flex-direction: column;
  cursor: pointer;
}

.bar {
  width: 25px;
  height: 3px;
  background-color: #fff;
  margin: 3px 0;
  transition: 0.4s;
}


.social div {
  border: 2px solid var(--pure);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  animation: moveIn 1s ease-in-out forwards;
}

@keyframes moveIn {
  from {
      transform: translateX(-100px);
  }
  to {
      transform: translateX(0px);
  }
}

.social svg path {
  fill: var(--pure);  
}

.social div:hover svg path {
  fill: var(--dark);
  transition: all .5s ease-in-out;
}

.social div:hover {
  background: var(--pure);
}

.hero {
  position: relative;
}

.social {
  position: absolute;
  left: 0;
  top: 0;
  border-right: 1px solid var(--gray);
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 90vh;
}

/***************************FORM***************************/

.form-container {
  display: flex;
  justify-content: center;
  margin: 100px;
}

.form-container form {
  width: '25%';
}

form{
  width: 100%;
  max-width: 30rem;
}

label, .form-input, textarea, button{
  display: block;
}

.form-input, textarea, button{
  width: 100%;
  padding: 1.25rem;
}

.form-input, textarea{
  margin-bottom: 1rem;
  color: whitesmoke;
  background: #323644;
  border: 0.125rem solid transparent;
  border-radius: 1.125rem;
  transition: border-color 0.3s, box-shadow 0.3s;
}

.form-input:hover, .form-input:focus, textarea:hover, textarea:focus{
  outline: none;
  border-color: rgb(69, 69, 208);
  box-shadow: 0 0 0 0.3125rem #26344a;
}

label{
  margin-bottom: 0.5rem;
  color: #84868f;
}

textarea{
  min-height: 12.5rem;
  resize: vertical;
}

button{
  border: none;
  border-radius: 99px;
  color: white;
  background: rgb(69, 69, 208);
  cursor: pointer;
  transition: 0.3s;
  text-transform: uppercase;
  font-weight: bold;
}

button:hover, button:focus{
  outline: none;
  background: rgb(34, 119, 216);
}

/***************************FOOTER***************************/

footer {
  background: var(--dark);
  padding: 60px 0;
}

footer > div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

footer .copyright span {
  font-size: 12px;
  display: inline-block;
  margin-top: 5px;
}

footer .copyright img {
  height: 30px;
}

footer h1 {
  font-size: 18px;
  position: relative;
  margin-bottom: 30px;
}

footer h1:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -8px;
  display: block;
  width: 60px;
  height: 2px;
  background: var(--pure);
}

footer ul {
  list-style-type: none;
}

footer ul li:nth-child(even) {
  margin: 10px 0;
}

footer ul li a {
  color: var(--mild);
  text-decoration: none;
  font-size: 14px;
  transition: all .3s ease-in-out;
}

footer ul li a:hover {
  color: var(--pure);
}

footer .footer-socials a {
  margin-right: 20px;
  font-size: 22px;
  color: var(--mild);
}

footer .footer-socials a:hover {
  color: var(--pure);
}

@media only screen and (max-width: 768px) {

  header nav {
    padding: 20px; /* Reduzindo o padding para telas menores */
    grid-template-columns: 1fr; /* Alterando para uma única coluna para telas menores */
  }
  
  header nav .nav-left {
    justify-content: space-between;
  }
  
  header nav .nav-right {
    /* display: none; Ocultando o menu principal em telas menores */
  }
  
  .hamburger-menu {
    display: flex; /* Exibindo o menu de hambúrguer em telas menores */
    align-items: center;
    justify-content: flex-end;
    margin-right: 20px; /* Adicionando margem para o lado direito */
  }
  
  .bar {
    width: 25px;
    height: 3px;
    background-color: #fff;
    margin: 3px 0;
    transition: 0.4s;
  }
  .nav-right {
    display: none; /* Ocultar o menu principal em telas menores */
  }

  .hamburger-menu {
    display: flex; /* Exibir o menu de hambúrguer em telas menores */
  }

  .nav-left {
    justify-content: space-between;
  }

  header nav {
    padding: 20px;
  }
}