@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;300;400;500;700&display=swap');
@import './variables.css';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
}

body {
    font-family: 'Montserrat', sans-serif;
    color: var(--pure);
    background: var(--primary);
    background: linear-gradient(135deg, rgba(0,0,0,1),rgba(0,0,0,0.2)), url(../assests/img/back3.jpg); 
    background-size: cover;
    min-height: 100vh;
}

/***************************HEADER***************************/

header nav {
  padding: 20px 40px 20px 100px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  align-items: center;
  border-bottom: 1px solid var(--gray);
}

header nav .nav-right {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

header nav .nav-right a {
  text-decoration: none;
  color: var(--pure);
  margin-right: 30px;
  position: relative;
}

header nav .nav-right a:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -30px;
  width: 0;
  height: 2px;
  background: var(--pure);
  transition: width .3s ease-in-out;
}

header nav .nav-right a:hover:after {
  width: 70%;
}

header nav .nav-right a.active:after {
  width: 70%;
}

header nav .nav-right .search > div {
  background: var(--dark);
  display: flex;
  align-items: center;
  padding: 10px 15px;
  border-radius: 50px;
}

header nav .nav-right .search > div input {
  background: transparent;
  border: none;
  outline:none;
  font-size: 16px;
  color: #fff;
}

header nav .nav-right .search > div img {
  padding-right: 16px;
}

.social div {
  border: 2px solid var(--pure);
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 30px;
  animation: moveIn 1s ease-in-out forwards;
}

@keyframes moveIn {
  from {
      transform: translateX(-100px);
  }
  to {
      transform: translateX(0px);
  }
}

.social svg path {
  fill: var(--pure);  
}

.social div:hover svg path {
  fill: var(--dark);
  transition: all .5s ease-in-out;
}

.social div:hover {
  background: var(--pure);
}

.hero {
  position: relative;
}

.social {
  position: absolute;
  left: 0;
  top: 0;
  border-right: 1px solid var(--gray);
  width: 100px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 90vh;
}

/***************MAIN**************/
/* Message */
#fade {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 10;
}

#fade .spinner-border {
  width: 60px;
  height: 60px;
}

.hide {
  display: none !important;
}

#message {
  width: 40%;
}

.alert.alert-light p {
  border-bottom: 1px solid #333;
  padding: 1.2em 0;
}

/* Steps */
#order-form-container {
  padding: 1.5em;
}

#steps {
  display: flex;
  justify-content: space-between;
  border-bottom: 1px solid var(--border-color);
  position: relative;
}

.step {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.step i {
  background-color: var(--secondary-bg-color);
  width: 45px;
  height: 45px;
  line-height: 45px;
  border-radius: 50%;
  text-align: center;
  font-size: 1.2em;
  margin-bottom: 0.3em;
}

.step .active {
  background-color: var(--secondary-color);
}

.step p {
  color: var(--text-color);
}

.line {
  border-bottom: 1px solid var(--border-color);
  position: absolute;
  top: 22.5px;
  width: 90%;
  left: 5%;
  z-index: -1;
}

/**********************FORM**********************/
/* Form header */
#form-header h2 {
  color: white;
}

#form-header p {
  color: var(--text-color);
}

/* Form */
#order-form-container {
  max-width: 700px;
}

#order-form-container input,
#order-form-container select {
  background-color: var(--bg-color);
  border: 2px solid var(--border-color);
  color: var(--primary-color);
}

#order-form-container select {
  padding: 1rem 0.75rem;
}

#order-form-container label {
  color: var(--text-color);
}

#order-form-container input:disabled,
#order-form-container select:disabled {
  background-color: var(--secondary-bg-color);
  color: var(--text-color);
}

#order-form-container input:focus {
  border-color: var(--secondary-color);
}

#order-form-container .form-floating > label {
  left: 1em;
}

#save-btn {
  background-color: #25cc88;
  border: none;
  height: 3em;
  width: 8em;
  border-radius: 1.5em;
}

.enderecoSalvo{
  display: flex;
  justify-content: center; /* Centraliza horizontalmente */
  align-items: center; /* Centraliza verticalmente */
  margin-top: 50px;
}

.enderecoSalvo h2{
  color: white;
}

.enderecoSalvo ul {
  display: flex;
  flex-direction: column;
}

/***************************FOOTER***************************/

footer {
  background: var(--dark);
  padding: 60px 0;
  color: #fff;
}

footer > div {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}

footer .copyright span {
  font-size: 12px;
  display: inline-block;
  margin-top: 5px;
}

footer .copyright img {
  height: 30px;
}

footer h1 {
  font-size: 18px;
  position: relative;
  margin-bottom: 30px;
}

footer h1:after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -8px;
  display: block;
  width: 60px;
  height: 2px;
  background: var(--pure);
}

footer ul {
  list-style-type: none;
}

footer ul li:nth-child(even) {
  margin: 10px 0;
}

footer ul li a {
  color: var(--mild);
  text-decoration: none;
  font-size: 14px;
  transition: all .3s ease-in-out;
}

footer ul li a:hover {
  color: var(--pure);
}

footer .footer-socials a {
  margin-right: 20px;
  font-size: 22px;
  color: var(--mild);
}

footer .footer-socials a:hover {
  color: var(--pure);
}