:root {
  --primary: #1E1E1E;
  --dark: #121212;
  --pure: #ffffff;
  --gray: #1d1d1d;
  --mild: #b9b8b8;
  --bg-color: #04044c;
  --secondary-bg-color: #494a7d;
  --primary-color: #fff;
  --secondary-color: #25cc88;
  --text-color: #8789af;
  --border-color: #dfe0f0;
}