<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
    <link rel="stylesheet" href="../assests/about.css" />
    <link rel="stylesheet" href="../assests/utilies.css" />
    <title>Document</title>
  </head>
  <body>
    <header>
      <nav>
        <div class="brand">
          <a href="#">
            <img src="../assests/img/Daco_4533340.png" alt="" />
          </a>
        </div>
        <!--LOGO-->
        <div class="nav-right">
          <div class="nav-links">
            <a href="../Index.html">Home</a>
            <a href="../view/about.html" class="active">Planets</a>
            <a href="../view/contact.html">Contact</a>
            <a href="#">Login</a>
          </div>
          <!--NAV-LINKS-->
          <div class="search">
            <div>
              <img src="../assests/img/search.png" alt="" />
              <input type="text" placeholder="Search" />
            </div>
          </div>
          <!--SEARCH-->
        </div>
        <!--NAV-RIGHT-->
      </nav>
      <section class="hero">
        <div class="social">
          <div>
            <a href="#"><i class="fab fa-facebook"></i></a>
          </div>
          <div>
            <a href="#"><i class="fab fa-twitter"></i></a>
          </div>
          <div>
            <a href="#"><i class="fab fa-instagram"></i></a>
          </div>
          <div>
            <a href="#"><i class="fab fa-youtube"></i></a>
          </div>
        </div>
      </section>
    </header>
    <section>
      <article class="earth-demo">
        <div class="earth">
          <div class="more-info">
            <h1>Earth</h1>
            <ul>
              <li>Third planet from the Sun</li>
              <li>Atmosphere: 21% oxygen</li>
              <li>Liquid water on surface</li>
              <li>Only planet that has life (that we know of)</li>
            </ul>
          </div>
          <img
            src="https://cssanimation.rocks/images/random/earth.png"
            alt=""
          />
        </div>
        <div class="moon-container">
          <div class="moon">
            <img
              src="https://cssanimation.rocks/images/random/moon.png"
              alt=""
            />
          </div>
        </div>
      </article>
    </section>
    <script src="../js/app.js"></script>
  </body>
</html>
