<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js"></script>
    <script src="../js/login.js"></script>
    <link
      rel="stylesheet"
      href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"
    />
    <link rel="stylesheet" href="../assests/login.css" />
    <link rel="stylesheet" href="../assests/utilies.css" />
    <link
      rel="icon"
      type="image/x-icon"
      href="../assests/img/spacex_logo_icon_144865.png"
    />
    <title>Login - SpaceX</title>
  </head>
  <body>
    <header>
      <nav>
        <div class="brand">
          <a href="#">
            <img src="../assests/img/Daco_4533340.png" alt="" />
          </a>
        </div>
        <!--LOGO-->
        <div class="nav-right">
          <div class="nav-links">
            <a href="../Index.html">Home</a>
            <a href="../view/about.html">Planets</a>
            <a href="../view/contact.html">Contact</a>
            <a href="../view/login.html" class="active">Login</a>
          </div>
          <!--NAV-LINKS-->
          <div class="search">
            <div>
              <img src="../assests/img/search.png" alt="" />
              <input type="text" placeholder="Search" />
            </div>
          </div>
          <!--SEARCH-->
        </div>
        <!--NAV-RIGHT-->
      </nav>
      <section class="hero">
        <div class="social">
          <div>
            <a href="#"><i class="fab fa-facebook"></i></a>
          </div>
          <div>
            <a href="#"><i class="fab fa-twitter"></i></a>
          </div>
          <div>
            <a href="#"><i class="fab fa-instagram"></i></a>
          </div>
          <div>
            <a href="#"><i class="fab fa-youtube"></i></a>
          </div>
        </div>
      </section>
    </header>
    <section>
      <div class="login">
        <div class="card">
          <h1>Login</h1>

          <div id="msgError"></div>

          <div class="label-float">
            <input type="text" id="user" placeholder="" required />
            <label id="userLabel" for="user">User</label>
          </div>
          <div class="label-float">
            <input type="password" id="password" placeholder="" required />
            <label id="passLabel" for="password">Password</label>
            <i id="versenha" class="fa fa-eye" aria-hidden="true"></i>
          </div>
          <div class="justify-center">
            <button onclick="loginUser()">Login</button>
          </div>
          <div class="justify-center">
            <hr />
          </div>
          <p>
            Não tem uma conta?
            <a href="../view/register.html" class="link">Cadastre-se</a>
          </p>
        </div>
      </div>
    </section>
    <footer>
      <div class="container">
        <div class="copyright">
          <div>
            <a href="#"
              ><img
                class="footer-logo"
                src="../assests/img/Daco_4533340.png"
                alt=""
            /></a>
          </div>
          <span>&copy; 2024 SPACEX</span>
        </div>
        <div>
          <h1>About us</h1>
          <ul>
            <li><a href="#">WHO WE ARE</a></li>
            <li><a href="#">CONTACT US</a></li>
            <li><a href="#">FAQs</a></li>
            <li><a href="#">MISSIONS</a></li>
            <li><a href="#">OTHER COMPANIES</a></li>
          </ul>
        </div>
        <div>
          <h1>Company</h1>
          <ul>
            <li><a href="#">CAREERS</a></li>
            <li><a href="#">LEGAL</a></li>
            <li><a href="#">POLICY</a></li>
            <li><a href="#">PRESS</a></li>
            <li><a href="#">BLOG</a></li>
          </ul>
        </div>
        <div class="socials">
          <div class="footer-socials">
            <h1>Socials</h1>
            <a href="#"><i class="fab fa-facebook"></i></a>
            <a href="#"><i class="fab fa-twitter"></i></a>
            <a href="#"><i class="fab fa-instagram"></i></a>
            <a href="#"><i class="fab fa-youtube"></i></a>
          </div>
        </div>
      </div>
    </footer>
    <script src="../js/app.js"></script>
  </body>
</html>
